@{
    ViewData["Title"] = "Home Page";
}
<br />
<h1>Application for managing your todos</h1>
<br />
<br />
<a class="btn btn-lg btn-primary" asp-controller="Todo" asp-action="Index">See your active todos</a>  
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  
<a class="btn btn-lg btn-primary" asp-controller="Todo" asp-action="Completed">See your completed todos</a>
